@charset "utf-8";
a{text-decoration:none;color:#333;}
a:link{color:#333;text-decoration:none;border:0px;}
a:hover{text-decoration:underline;}
.userlogininfoexit a{
	color:#fff;
	text-decoration:none;
	font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";
}
.userlogininfo{
	list-style-type:none;
	margin:0px;
	padding:0px;
	height:auto;
	line-height:24px;
	font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";
	font-size:13px;
	color:#c1dcfa;
	text-align:right;
}
.userlogininfoid{
	list-style-type:none;
	margin:0px;
	padding:0px;
	height:auto;
	line-height:14px;
	font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";
	font-size:14px;
	font-style:italic;
	color:#CCC;
	text-align:right;
}
.userlogininfoexit{
	list-style-type:none;
	margin:0px;
	padding:0px;
	height:auto;
	line-height:24px;
	font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";
	font-size:12px;
	color:#FFF;
	text-align:right;
}
.userloginline{
	margin:0px;
	color:#c1dcfa;
	text-align:center;
	display:block;
}
.inforight{text-align:right;}
.inforighttop{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#c1dcfa;
}
#userimage{
	width:40px;
	height:40px;
	border:2px double #FFF;
	right:50px;
	margin-top:11px;
	position:absolute;
	cursor:pointer;
}
#menulist .titlename{
	font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";
	color:#FFF;
	font-size:18px;
	text-align:left;
	float:left;
	top:3px;
	margin-right:10px;
	margin-left:3px;
}
.topdiv{background-color:#99Bfff;padding-top:2px;}
.topdiv a{color:#ffd;text-decoration:none;}
#menulist a{font-family:"Trebuchet MS","Lucida Console","Lucida Sans","sans-serif";}
#menulist a:hover{text-decoration:underline;}
.imageheight{
	margin-top:2px;
	margin-right:5px;
	margin-left:5px;
}
.menu_button_out .image_mouse_out{
	background:url("../img/main/menubt3.png") no-repeat scroll right top;
	display:inline-block;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0px;
	padding-top:13px;
	padding-right:12px;
	padding-bottom:1px;
	padding-left:7px;
	margin-top:25px;
	margin-bottom:0px;
	line-height:16px;
	vertical-align:bottom;
	color:#000000;
}
.image_mouse_out{
	background:transparent url("../img/main/menubt2.png") no-repeat scroll right top;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0px;
	padding-top:13px;
	padding-right:12px;
	padding-bottom:5px;
	padding-left:7px;
	margin-top:0px;
	margin-bottom:0px;
	line-height:17px;
	vertical-align:bottom;
}
#menulist{
	display:block;
	background-color:#99Bfff;
	height:56px;
}
.menu_button_out{
	background-image:url("../img/main/menubt_left.png");
	width:7px;
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:7px;
	margin-left:7px;
	vertical-align:bottom;
	padding-top:12px;
	cursor:pointer;
}
.menu_button_over{
	background-image:url("../img/main/menubt2left.png");
	width:7px;
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:7px;
	margin-left:7px;
	vertical-align:bottom;
	padding-top:17px;
	cursor:pointer;
}
div.RoundedCornertitle{background:#fff;width:auto;} 
div.RoundedCornertitle b.rtop,div.RoundedCornertitle b.rbottom{
	display:block;background:#fff;
}
div.RoundedCornertitle b.rtop b,div.RoundedCornertitle b.rbottom b{
	display:block;height:1px;overflow:hidden;background:#2780ba;
}
div.RoundedCornertitle b.r1{margin:0 5px;} 
div.RoundedCornertitle b.r2{margin:0 3px;} 
div.RoundedCornertitle b.r3{margin:0 2px;} 
div.RoundedCornertitle b.rtop b.r4,div.RoundedCornertitle b.rbottom b.r4{margin:0 1px;height:2px;} 
div.RoundedCornerlmt{
	background:#2780ba;
	width:auto;
	border-right-width:3px;
	border-left-width:3px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#2e92d0;
	border-left-color:#2e92d0;
	position:relative;
	visibility:visible;
	border-top-style:none;
} 
div.RoundedCornerlmt b.rtop,div.RoundedCornerlmt b.rbottom{display:block;background:#2e92d0;} 
div.RoundedCornerlmt b.rtop b,div.RoundedCornerlmt b.rbottom b{
	display:block;height:1px;overflow:hidden;background:#fff;
} 
div.RoundedCornerlmt b.r1{margin:0 5px;} 
div.RoundedCornerlmt b.r2{margin:0 3px;} 
div.RoundedCornerlmt b.r3{margin:0 2px;} 
div.RoundedCornerlmt b.rtop b.r4,div.RoundedCornerlmt b.rbottom b.r4{margin:0 1px;height:2px;} 
#exit{
	margin-bottom:10px;
	position:absolute;
	right:10px;
	top:3px;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.exitmove{background-image:url(../img/main/exit3.png);}
.exitout{background-image:url(../img/main/exit2.png);}
.t0im{border:0px;width:20px;height:16px;}
.t0i{
	font-size:12px;
	color:#000000;
	background-color:#fff;
	text-decoration:none;
}
.move{z-index:1;position:absolute;cursor:w-resize;}
.ie_control_style_out{
	filter:alpha(opacity=100,finishOpacity=0,style=2);
	border-right-width:3px;
	border-right-style:outset;
	border-right-color:#2780ba;
	border-left-width:3px;
	border-left-style:inset;
	border-left-color:#2780ba;
	background:#2e92d0;
}
.control_style_out{background-color:#2E92D0;}
.ie_control_style_over{
	filter:alpha(opacity=100,finishOpacity=0,style=2);
	border-right-width:3px;
	border-right-style:outset;
	border-right-color:#2780ba;
	border-left-width:3px;
	border-left-style:inset;
	border-left-color:#2780ba;
	background: #0099FF;
}
.control_style_over{opacity:0.2;background-color:#0099FF;}	
#control{
	float:right;
	position:absolute;
	margin-right:6px;
	width:6px;
	top:85px;
}
.border{
	border-right-width:3px;
	border-left-width:3px;
	border-right-style:solid;
	border-left-style:solid;
	border-right-color:#2E92D0;
	border-left-color:#2E92D0;
	border-bottom-width:3px;
	border-bottom-style:solid;
	border-bottom-color:#2E92D0;
}
#CNLTreeMenu{
	font-size:14px;
	font-style:normal;
	font-weight:200;
	background-color:#FFFFE8;
	background-position:center top;
	text-transform:none;
	clear:both;
	float:left;
	display:block;
	overflow:auto;
	text-align:left;
	margin:0px auto;
}	
#treemenulist{clear:both;margin:0px auto;text-align:center;}
#treemenulist .menulist{
	clear:both;
	border:1px dashed #ABABAB;
	height:20px;
	line-height:20px;
	text-align:left;
	width:150px;
	background-color:#FFC;
	text-indent:1em;
	vertical-align:baseline;
}
#treemenulist .menulist .menutitle{color:#033;}
#treemenulist .menulistico{	
	vertical-align:baseline;
	position:relative;
	top:2px;
	margin-right:12px;
}
.menulistsecond{
	font-size:12px;
	margin: 0px auto;
}	
.menulistsecond ul{	
	margin:0px auto;
	padding:0px 20px;
}	
.menulistsecond ul li{	
	margin:4px auto;
	padding:0px;
	list-style:none;
	list-style-type:none;
	background:transparent url("../img/main/arr4.gif") no-repeat scroll 5px 9px;
	line-height:22px;
	border:1px dashed #ABABAB;	
	width:139px;
	background-color:#F0F0F0;
	cursor:pointer;
	text-align:center;
}
.sdmenu{width:180px;font-size:12px;color:#666;height:auto;}
.sdmenu div{overflow:hidden;height:auto;float:left;margin-top:6px;}
.sdmenu div.collapsed{height:32px;}
.sdmenu div span{display:block;line-height:32px;width:130px;font-weight:normal;color:#CC0000;cursor:pointer;margin-left:10px;background:url("../img/main/mainMenu2.jpg") no-repeat left;padding-left:36px;}
.sdmenu div.collapsed{width:182px;color:#666666;}
.sdmenu div.collapsed span{color:#003366;line-height:32px;background:url("../img/main/mainMenu.jpg") no-repeat left;}
.sdmenu div a{padding-left:47px;display:block;color:#003366;font-size:12px;line-height:28px;text-decoration:none;background:url("../img/main/icon_t2.jpg") no-repeat 36px 14px;}
.sdmenu div a.current{color:red;background:url("../img/main/icon_t1.jpg") no-repeat 36px 14px;}
.sdmenu div a:hover{color:red;background:url("../img/main/icon_t1.jpg") no-repeat 36px 14px;}